body, h1, form, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/static/images/cloud.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    line-height: 1.6;
    padding: 10px;
}

/* Center the form and the result display */
form, #weatherResult {
    width: 100%;
    max-width: 500px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

/* Style the form */
form {
    background: #e9ecef;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style inputs and submit button */
input[type="text"], input[type="submit"] {
    padding: 10px;
    margin-top: 8px;
    width: calc(100% - 20px); /* Full width minus padding */
    border: 1px solid #ddd;
    border-radius: 4px; /* Rounded borders */
}

input[type="submit"] {
    color: #fff;
    background-color: #007bff; /* Bootstrap primary color */
    margin-top: 16px; /* More space at the top */
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Darken button when hovering over */
}

/* Weather display */
#weatherResult {
    background: #e9ecef;
    color: #333;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center; /* Center text for results */
    margin-top: 20px; /* Space between form/results and weather */
}
