/* Reset some basic elements */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f6;
    color: #333;
    line-height: 1.6;
}

hr {
    border: 0; /* Remove the default border */
    height: 2px; /* Set the height of the line */
    background-color: #ccc; /* Set the color of the line */
    margin-top: 20px; /* Adjust space above the line */
    margin-bottom: 20px; /* Adjust space below the line */
}

/* Center the form on the page */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
    color: #102a43;
}

form {
    align-items: center;
    background: #fff;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    max-width: 400px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 0.5em;
    color: #102a43;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Responsive adjustments */
@media (max-width: 2000px) {
    body {
        padding: 20px;
        height: initial;
        display: block;
    }

    form {
        padding: 20px;
        box-shadow: none;
    }
}
